@import "../colors/Colors.module.scss";

.SidebarContainer {
  display: block;
  position: fixed;
  background: $white-color;
  margin-top: 32px;
  margin-left: -40px;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 100vh;
  min-height: 100vh;
  visibility: visible;
  width: 230px;
  z-index: 1;
}
.SidebarContainer.close {
  display: none;
}

.spanContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.spanContainer:focus {
  outline: none;
}
.spanLine {
  flex: 1;
  width: 30px;
  margin-top: 6px;
  background: $primary-color;
}
.SidebarList {
  display: flex;
  flex-direction: column;
  padding: 55px 0 0 0;
  position: relative;
  visibility: visible;
  width: 230px;
  z-index: 1;
}
.SidebarItem a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: black;
  padding: 12px 0px 10px 30%;
  text-decoration: none;
  cursor: pointer;
  border-bottom-style: none;
  width: 100%;
  box-sizing: border-box;
}
.SidebarItem a:hover {
  color: $secondary-color;
}
